
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@1,300&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: linear-gradient(-45deg,#08a2f0,#a19ad3,#8BE8E5, #D5FFE4);
    background-size: 400% 400%;
    animation: gradient 7s ease-out infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.icons{
height: 100px;
justify-content: center;
margin: 15px;

box-shadow: 0 2px 5px  black;   
}
.filtertool{
    justify-content: center;
    margin: 15px;

}
.ibtn{
    height: 50px;
    width: 50px;
margin:5px;
font-size: larger;
box-shadow: 0 2px 5px  black;
}
.imgcontainer{
  
    width: 50%;
    height: fit-content;
  float: left;
  height: 500px;
}

.tools{
   
    height: 500px;
    width: 50%;
    padding-bottom: 20px;
   float: left;

}
.container{
    font-size: larger;
    margin-left: 20%;
    margin-top: 5%;
height: 500px;
width: 850px;

box-shadow: 0 2px 5px  black;
background-color: aliceblue;
}

#pic{
max-height: 300px;
max-width : 300px;
margin: 20px;
width: 100%;
height: 100%;
object-fit: contain;
margin-left: 60px;
}


.container .filtertool button{

    font-size: large;
    margin: 5px;
height: 30px;
border-radius: 4%;
width: calc(50% - 13px);

}
.container .filtertool button.active{
    font-size: large;
    border-radius: 4%;
    background-color: #0a6bff;
    color: rgb(255, 255, 255);
}
.slider{
    font-size: large;
    height: 100px;
justify-content: center;
margin: 15px;
accent-color: rgb(0, 85, 255);
box-shadow: 0 2px 5px  black;
}
#slider{
    height: 10px;
    width: 300px;
}
.helping,.download,.choose {
    background-color: #0a6bff;
    border-radius: 4px;
    width: 180px;
    height: 40px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 18px;
    text-align: center;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
  }
  
  .helping:hover {
    background-color: #065dd8;
    transform: translateY(-2px);
  }
  
  h1{
    font-weight: bolder;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    color:rgb(48, 40, 40);
  }